.student-wise-main-container{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    
}
select , button{
    font-size: 1rem;
}

.show-graph{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
 